{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
{% include 'partials/nav.html.twig' %}
<form method="post" class="container mt-5">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Vous êtes connecté {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
        </div>
    {% endif %}

    <fieldset>
        <legend>Login</legend>
        <div>
            <label for="username" class="form-label mt-4">Entrez votre nom d'utilisateur</label>
            <input type="text" 
                   value="{{ username }}"
                   name="_username"  {# Importante: añadir name="_username" #}
                   class="form-control" 
                   id="username" 
                   required
                   placeholder="Entrez votre nom d'utilisateur">
        </div>
        <div>
            <label for="password" class="form-label mt-4">Entrez votre mot de passe</label>
            <input type="password" 
                   name="_password"  
                   class="form-control" 
                   id="password" 
                   required
                   placeholder="Entrez votre mot de passe" 
                   autocomplete="current-password">
        </div>

        {# Añadir el token CSRF #}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <button type="submit" class="btn btn-primary mt-5">Submit</button>
    </fieldset>
</form>
{% endblock %}
